<tr class="user-search">
<td><%= search.keywords -%></td>
<td><%= Category.find(search.category_id).name -%></td>
<td><%= search.min_price -%> - <%= search.max_price -%></td>
<td><%= link_to search.products.count, search_path(search) -%></td>
<td id="notify-toggle-<%=search.id%>"> <%= link_to (search.notify ? "ON" : "OFF"), toggle_notification_search_path(search),
    title: 'Click to toggle mail notification.', remote: true, method: :put %>
</td>
<td><%= search.notified_at ? search.notified_at : "none yet" -%></td>
<td><%= search.new_results(Time.now - 1.months).count -%></td>
<td>
  <%= link_to "edit", edit_search_path(search) -%>
  <%= link_to "destroy", search_path(search), :method => :delete, :confirm => 'Are you sure?'-%>
</td>
<tr>