<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="signin_status"><%= render partial: "layouts/login_status" %></div>
      <div id="flash-messages"><%= render partial: "layouts/flash", locals: {:flash => flash} %></div>
      <%= yield %>
    </div>
  </body>
</html>
